*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
   gap: 70px;
}
a{
    text-decoration: none;
    color: white;
}