#hero {
    padding-top: 120px;
    background-color: #C4C4C4;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-infos h1 {
    font-size: 50px;
    color: white;
    font-weight: 500;
}

.hero-infos p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: white;
    margin-top: 20px;
}

.search {
    max-width: 497px;
    width: 100%;
    height: 64px;
    background-color: #838586;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 30px;

}

.search input {
    border: none;
    background-color: transparent;
    outline: none;
    color: white;

}

.search button {
    background-color: #ff6e30;
    color: aliceblue;
    font-weight: 600;
    border: none;
    max-width: 130px;
    width: 100%;
    height: 48px;
    border-radius: 8px;
}

.hero-img {
    width: 50%;
}

@media (max-width:722px) {
    .hero-content {
        flex-wrap: wrap;
        align-items: center;
    }

    .hero-img {
        width: 100%;
    }
}

@media (max-width:474px) {
    .hero-infos h1 {
        font-size: 32px;
    }
}








.hero-hsd {
    background-color: #1E252B;
    max-width: 200px;
    border-radius: 15px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}



.hero {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;

}

@media (max-width:849px) {
    .hero {

        display: grid;
        grid-template-columns: auto auto;

    }
}

@media (max-width:660px) {
    .hero {

        display: grid;
        grid-template-columns: auto;

    }
}

.h1-hero0 {
    color: white;
    margin-left: 60px;
    margin-top: -60px;
}

.hero-hsd img {
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.hero-hsd p {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.hero-hsd h4 {
    color: #ee8d63;
    margin-left: 70px;
    margin-top: 8px;
}

.products-card__like {
    max-width: 50px;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    margin-left: 120px;
    transition: 0.5s;
    cursor: pointer;
    transform: translateX(80px);
}

.hero-hsd:hover .products-card__like {
    transform: translateX(0);
}

.btn-c {
    border: none;
    color: white;
    background-color: #ee8d63;
    max-width: 80px;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 500px;

}

.heroip {
    background-color: #838586;
    border-radius: 15px;
    transition: 0.5s;
}

.heroip img {
    margin-left: 60px;
}

.ppppp {


    padding-top: 10px;
    padding-bottom: 10px;
    color: #1E252B;

}

.heroip:hover {
    box-shadow: 5px 5px 10px gray;
}

@media (max-width:810) {
    .heroip {
        flex-wrap: wrap;
        align-items: center;
        gap: 50px;
    }

}

@media (max-width:630px) {
    .btn-c {
        margin-left: 230px;
    }
}

@media (max-width:408px) {
    .btn-c {
        margin-left: 100px;
    }
}

@media (max-width:326px) {
    .heroip img {
        margin-left: 20px;
        flex-wrap: wrap;
        align-items: center;
    }
}

#herocontent {
    background-color: #1E252B;
}

.h1-0098 {
    color: white;
    font-size: 34px;
    font-family: sans-serif;
}

.p-0098 {
    color: white;
    margin-top: 20px;
}

.btn0098 {
    border: none;
    background-color: rgb(201, 123, 6);
    color: white;
    cursor: pointer;
    max-width: 100px;
    height: 34px;
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
}

.beroiyte {

    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

@media (max-width:700px) {
    .beroiyte {

        display: grid;
        grid-template-columns: auto auto;

    }
}


@media (max-width:400px) {
    .beroiyte {

        display: grid;
        grid-template-columns: auto;

    }
}

.bero--hsd {
    background-color: #1E252B;
    max-width: 200px;
    border-radius: 15px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    display: grid;
}

.bero--hsd:hover .products-card__like {
    transform: translateX(0);
}

.bero--hsd h4 {
    color: #ee8d63;
    margin-left: 70px;
    margin-top: 8px;
}

.bero--hsd p {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.bero--hsd img {
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

#idert {
    background-color: #1E252B;
}

.bbvg {
    color: white;
}

.chjh {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    margin-right: 300px;
}

@media (max-width:940px) {
    .jjbh {
        width: 100%;

    }

    .chjh {
        flex-wrap: wrap;
        align-items: center;
    }
}

.jjbh {
width: 50%;
    
}

.dfbrh {
   
    width: 20%;
}

@media (max-width:948px) {
    .dfbrh {
        width: 10%;
    }
}
.knsrr h1,p{
    color: white;

}
#jbjbh{
    background-color: #1E252B;
}